# Task 1-I : Linear Models

* We will learn linear regression

In [1]:
###################
## Run this cell ##
###################
import pandas as pd
from sklearn.datasets import load_boston

boston = load_boston()

df = pd.DataFrame(boston.data, columns=boston.feature_names)
df['MEDV'] = boston.target
print("1 row is not about one house but one town ")
print(boston.DESCR)

1 row is not about one house but one town
.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [2]:
df['MEDV']

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

# Q1. Split the df into training set & test set

1. x : all columns in df except 'MEDV'
2. y : the column 'MEDV' in df (df['MEDV'])
3. variable names :
    * x_train, y_train
    * x_test, y_test
4. train : test = 8 : 2
5. randomstate : 2021

Question : Why we need to prepare test set?

**Your Answer :**

In [3]:
#################################################
## This cell will not be provided, after Task1 ##
#################################################

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df.drop(['MEDV'], axis=1), df['MEDV'],
                                                    test_size=0.2, random_state=2021 )

In [4]:
df

        CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0    0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...    ...      ...     ...    ...   ...
501  0.06263   0.0  11.93   0.0  0.573  ...  273.0     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93   0.0  0.573  ...  273.0     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

# Q2. Train linear regression model

1. declare your model as lr

In [7]:
####################
## Your code here ##
####################
from sklearn.linear_model import LinearRegression
lr =  LinearRegression()
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Q3. Make a prediction
1. y_pred_train : prediction on training set
2. y_pred_test : prediction on test set

In [8]:
####################
## Your code here ##
####################

y_pred_train = lr.predict(x_train)
y_pred_test = lr.predict(x_test)

# Q4. Evaluate the model on the training set & test set

* Use RMSE

Question : If rmse is 4, can we say the error of our model is $4? 

**Your Answer :**

In [9]:
####################
## Your code here ##
####################

import numpy as np
from sklearn.metrics import mean_squared_error

def RMSE(y, pred):
    return np.sqrt(np.mean(np.square(y-pred)))

RMSE(y_train,y_pred_train),RMSE(y_test,y_pred_test)

#rmse2 = mean_squared_error(y_test,y_pred_test)**0.5
#print(rmse2)

(4.6746677866213036, 4.826999984002403)

# Q5. Complete the equation of the linear regression model

\begin{align}
MEDV = \beta_0 &\ + \beta_1*CRIM + \beta_2*ZN + \beta_3*INDUS + \beta_4*CHAS \\
&+ \beta_5*NOX + \beta_6*RM + \beta_7*AGE + \beta_8*DIS + \beta_9*RAD \\
& + \beta_{10}*TAX + \beta_{11}*PTRATIO + \beta_{12}*B + \beta_{13}*LSTAT
\end{align}

* print $ \beta_0 $ ~ $ \beta_{13} $ with feature(column) name
* example
```
beta_0 for intercept : 21
beta_1 for CRIM : - 12
~~~
beta_13 for LSTAT : -5 
```

In [12]:
####################
## Your code here ##
####################
print(f"beta_0 for intercept : {model.intercept_}")

name = df.drop("MEDV",axis=1).columns
for i in range(0,13):
    print(f"beta_ {i+1} for {name[i]} : {model.coef_[i]}")

beta_0 for intercept : 35.074446443842035
beta_ 1 for CRIM : -0.11455671812732975
beta_ 2 for ZN : 0.05323427588138077
beta_ 3 for INDUS : 0.003283317180316192
beta_ 4 for CHAS : 3.508465036705998
beta_ 5 for NOX : -18.13566684114273
beta_ 6 for RM : 3.8252394730909423
beta_ 7 for AGE : 0.011058249800921273
beta_ 8 for DIS : -1.529967394769819
beta_ 9 for RAD : 0.33922130811188655
beta_ 10 for TAX : -0.011867833580858023
beta_ 11 for PTRATIO : -0.8842149500225382
beta_ 12 for B : 0.009528304243272022
beta_ 13 for LSTAT : -0.57816905178081

# Q6. Analyze the effect of 'RM' (average average number of rooms per dwelling)

**assumption1 : every other features are fixed.**<br>
**assumption2 : use training set to anlayze.**
1. How does the 'MEDV(house price)' change when 'RM' increases by 1 ?
2. What is the change in the 'MEDV' due to the standard deviation(std) of 'RM'
    * hint : beta_6 * std('RM')
    * you can regard std('RM') as a mean variablity of 'RM' ( roughly )
3. What is the change in the 'MEDV' due to the maximum change of 'RM'
    * hint : maximum change of 'RM' = max('RM') - min('RM')

In [14]:
####################
## Your code here ##
####################
model.fit(x_train,y_train)
coef = model.coef_[name=='RM']
print(coef)
#df["RM"].max(), df["RM"].min(), df["RM"].mean(), df["RM"].std())

std = df["RM"].std()
print(coef*std)
max_change = df["RM"].max() - df["RM"].min()
print(coef*max_change)

[3.82523947]
[2.68767883]
[19.96392481]

# Q7. Analyze the effect of 'NOX' ( nitric oxides concentration (parts per 10 million) )

**assumption1 : every other features are fixed.**<br>
**assumption2 : use training set to anlayze.**
1. How does the 'MEDV(house price)' change when 'NOX' increases by 1 ?
2. Can 'NOX' change by 1 in the data?
3. What is the change in the 'MEDV' due to the standard deviation(std) of 'NOX'
4. What is the change in the 'MEDV' due to the maximum change of 'NOX'

In [16]:
####################
## Your code here ##
####################
std_nx = x_train['NOX'].std()
max_ch_nx = x_train['NOX'].max() - x_train['NOX'].min()


print(f"A1 : {lr.coef_[4]:.3f}")
print(f"A2 : No, maximum change(range) of NOX : {max_ch_nx}")
print(f"A3 : {lr.coef_[4]*std_nx:.3f}")
print(f"A4 : {lr.coef_[4]*max_ch_nx:.3f}")

A1 : -18.136
A2 : No, maximum change(range) of NOX : 0.486
A3 : -2.168
A4 : -8.814

# Q8. Anlayze the intercept
**assumption1 : use training set to anlayze.**
1. What is the expected mean value of 'MEDV' in $ when all features(x) have no effect
    * you can regard intercept as default value of 'MEDV' ( roughly )
    * be careful : in $, not in $1,000
2. Can all features(x) be zero in the data?
    * Can all features(x) have no effect?

In [17]:
####################
## Your code here ##
####################
print(f"A1 : ${lr.intercept_*1000:.3f}" )

print(f"A2 : Impossible, just two features can be zero")

print(x_train.min())

A1 : $35074.446
A2 : Impossible, just two features can be zero
CRIM         0.00906
ZN           0.00000
INDUS        0.46000
CHAS         0.00000
NOX          0.38500
RM           3.56100
AGE          2.90000
DIS          1.12960
RAD          1.00000
TAX        187.00000
PTRATIO     12.60000
B            0.32000
LSTAT        1.92000
dtype: float64